# **UMKM Jawa Barat 2016–2023: Pemetaan Pertumbuhan dan Potensi Regional**

***Oleh : Ade Widya Ningrum***
   
---

## **1. Deskripsi Project**

Project ini dilakukan untuk menganalisis jumlah Usaha Mikro, Kecil dan Menengah (UMKM) di tiap-tiap kabupaten/kota yang di Provinsi Jawa Barat dari tahun 2016 sampai dengan tahun 2023. Fokus project ini adalah menampilkan tren pertumbuhan, kabupaten/kota dengan jumlah UMKM terbesar, dan potensi daerah untuk pengembangan bisnis. Visualisasi interaktif dan insight actionable ditujukan untuk investor, pemerintah serta stakeholder UMKM.

## **2. Tujuan Project**

- Menampilkan sebaran UMKM per kabupaten/kota secara visual dan interaktif.
- Melakukan identifikasi kabupaten/kota dengan jumlah UMKM tertinggi dan pertumbuhan tercepat.
- Memberikan insight strategis untuk pengembangan UMKM atau investasi daerah.

## **3. Dataset**

- Sumber : Open Data Jabar - Dinas Koperasi dan Usaha Kecil
- Judul Dataset : Proyeksi Jumlah Usaha Mikro Kecil Menengah (UMKM) Berdasarkan Kabupaten/Kota di Jawa Barat
- Periode : 2016 - 2023
- Kategori : Ekonomi
- Jumlah baris : 216
- Deskripsi : Dataset berisi proyeksi jumlah UMKM per kabupaten/kota di Jawa Barat dari 2016–2023. Dataset ini diterbitkan oleh Dinas Koperasi dan Usaha Kecil dengan pembaruan tahunan.
- Variabel :   

| Variabel               | Tipe Data | Deskripsi                                               |
|------------------------|-----------|---------------------------------------------------------|
| kode_provinsi           | numeric   | Kode Provinsi Jawa Barat sesuai BPS                    |
| nama_provinsi           | text      | Nama Provinsi Jawa Barat                                |
| kode_kabupaten_kota     | numeric   | Kode tiap kabupaten/kota                               |
| nama_kabupaten_kota     | text      | Nama kabupaten/kota                                    |
| proyeksi_jumlah_umkm    | numeric   | Jumlah UMKM                                            |
| satuan                  | text      | Satuan pengukuran jumlah UMKM (unit)                  |
| tahun                   | numeric   | Tahun data diproduksi                                  |

## **4. Analisis Data**

### **A. Data Cleaning dan Preprocessing**

#### **a. Import Libraries**

In [1]:
import pandas as pd
import numpy as np

#### **b. Data Loading & Preview**

In [7]:
# Load dataset proyeksi jumlah UMKM di Jawa Barat
df = pd.read_csv("proyeksi-umkm-jabar.csv")

# Menampilkan 10 baris pertama dataset
df.head(10)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,proyeksi_jumlah_umkm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,375048,UNIT,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,269002,UNIT,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,250808,UNIT,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,353277,UNIT,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,259141,UNIT,2016
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,188068,UNIT,2016
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,139719,UNIT,2016
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,94885,UNIT,2016
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,252604,UNIT,2016
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,156841,UNIT,2016

In [8]:
# Menampilkan informasi dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    216 non-null    int64
 1   kode_provinsi         216 non-null    int64
 2   nama_provinsi         216 non-null    object
 3   kode_kabupaten_kota   216 non-null    int64
 4   nama_kabupaten_kota   216 non-null    object
 5   proyeksi_jumlah_umkm  216 non-null    int64
 6   satuan                216 non-null    object
 7   tahun                 216 non-null    int64
dtypes: int64(5), object(3)
memory usage: 13.6+ KB

*Dataset berisi 216 baris dan 8 kolom dengan tipe data yang sudah sesuai pada setiap kolomnya. Preview ini menunjukkan kolom kode & nama wilayah, proyeksi jumlah UMKM, satuan, dan tahun.*

In [ ]:
# Menampilkan deskripsi statistik dari dataset
df.describe()

,id,kode_provinsi,kode_kabupaten_kota,proyeksi_jumlah_umkm,tahun
count,216.000,216.0,216.000000,216.000000,216.00000
mean,108.500,32.0,3231.333333,213806.851852,2019.50000
std,62.498,0.0,31.274330,126137.156902,2.29661
min,1.000,32.0,3201.000000,25896.000000,2016.00000
25%,54.750,32.0,3207.000000,108567.250000,2017.75000
50%,108.500,32.0,3214.000000,202961.000000,2019.50000
75%,162.250,32.0,3273.000000,292588.000000,2021.25000
max,216.000,32.0,3279.000000,570943.000000,2023.00000

*Dari ringkasan statistik di atas, terlihat bahwa jumlah UMKM di setiap kabupaten/kota bervariasi cukup luas, dengan nilai minimum 25.896, maksimum 570.943, dan rata-rata sekitar 213.806 per kabupaten/kota per tahun.*

#### **c. Cek Missing Values & Duplicates**

In [ ]:
# Menampilkan jumlah missing value pada dataset
df.isnull().sum()

id                      0
kode_provinsi           0
nama_provinsi           0
kode_kabupaten_kota     0
nama_kabupaten_kota     0
proyeksi_jumlah_umkm    0
satuan                  0
tahun                   0
dtype: int64

*Tidak terdapat missing value pada dataset*

In [13]:
# Menampilkan jumlah data duplikat pada dataset
df.duplicated().sum()

np.int64(0)

*Tidak terdapat data/baris duplikat pada dataset*